@model CentralHubService.Models.Details
@{
    ViewBag.Title = "Collect";
}

<h2>Collect</h2>

@if (@Model != null)
{
    <h3>SiteId: @Model.SiteId</h3>

    if (Model.UsageEntries.Count > 0)
    {
        <table class="table table-condensed table-bordered">
            <tr>
                <td>Uniquie ID</td>
                <td>Entry Date / Time</td>
                <td>Current Power Level</td>
            </tr>
            @for (var i = Model.UsageEntries.Count - 1; i >= 0; i--)
            {
                <tr>
                    <td>@Model.UsageEntries[i].IdGuid</td>
                    <td>@Model.UsageEntries[i].TimeStamp</td>
                    <td>@string.Format("{0:P1}", Model.UsageEntries[i].CurrentPower)</td>
                </tr>
            }
        </table>
    }
    else
    {
        <b>No new data found.</b>
    }
}
else
{
    <h3>No response from remote service.</h3>
}